.flag{
    
    width: 80px;
    height: 80px;
}

.navbar-nav > li{
    padding-left: 50px;
    padding-right: 50px;
}

.states{
    width: 30px;
    height: 20px
}

.title_font_size{
    font-size: 25px;
}

.main-map{
    padding-top:auto;
    width:100%;
    height:100%;

}
.img-fluid{
    height: 50%;
    width: 50%;
}

.map1{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 使页面占据整个视窗高度 */
    margin: 0; /* 去除 */
    height:100vh;
    width:100vw;
}
.map2{
    display: inline-block;
    height: 1000px;
    width: 1500px;

}
.map3{
    position: absolute;
}